<section id="editView" role="region" class="editView" data-type="card">
  <header>
    <a role="button" data-type="rollback"><span class="icon icon-close">close</span></a>
    <menu type="toolbar">
      <a role="button" data-type="commit"><span data-l10n-id="done">Done</span></a>
    </menu>
    <h1 data-l10n-id="editClip">Edit Clip</h1>
  </header>
</section>
