<section id='exportView' role='region' class='hidden' data-type='card'>

  <header>
    <a href='#/menu'><span class='icon icon-menu'>Show sidebar</span></a>
    <a href='#/export/{{clip.id}}'><span class='icon icon-menu'>Hide sidebar</span></a>
    <h1 data-l10n-id='title'></h1>
  </header>
  <ul class='compact'>
    <li>
      <label data-l10n-id='fileName'></label>
      <input type='text' data-l10n-id='fileName' placeholder='' maxLength='50' value='{{fileName}}'/>
    </li>
    <li>
      <label data-l10n-id='progress'></label>
      <progress value="0" max="1"></progress>
    </li>
    <a role="button" data-type="tapedeck"><span class='icon {{#if exporting}}icon-stop{{else}}icon-export{{/if}}'></span></a>
  </ul>
</section>
