<section id='clipListView' role='region' class='hidden' data-type='card'>
  <header>
    <a href='#/menu'><span class='icon icon-back'>Show sidebar</span></a>
    <a href='#/list'><span class='icon icon-menu'>Hide sidebar</span></a>
    <menu type='toolbar'>
      <a href='#/record/{{id}}'><span class='icon icon-mic'>Record</span></a>
    </menu>
    <h1 data-l10n-id='clipList'></h1>
  </header>
  <article class="scrollable">
    <section data-type="list">
      <ul>
      </ul>
    </section>
  </article>
</section>