<section data-type='sidebar' id='menuView'>
  <header>
    <h1 data-l10n-id='commands'></h1>
  </header>
  <nav>
    <ul>
      <li><a href='#/record/{{id}}' data-l10n-id='newClip'></a></li>
      <li><a href='#/list' data-l10n-id='clipList'></a></li>
      <li><a href='#/factoryReset' data-l10n-id='reset'></a></li>
      <li><a href='#/about' data-l10n-id='information'></a></li>
    </ul>
  </nav>
</section>
