<section id='prereqView' role='region' class='hidden'>
  <header>
    <h1 data-l10n-id='title'></h1>
  </header>
  <header><h2 data-l10n-id="requirements1"></h2></header>
  <ul>
    {{#each features}}
      <li><span>{{this}}</span></li>
    {{/each}}
  </ul>
  <header><h2 data-l10n-id="requirements2"></h2></header>
</section>
